{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>****Добро пожаловать на сайт магазина Salon De La France!!!****</p>
        <p1>1) В "Новостях" вы можете узнать о свежих поступлениях и новинках в магазине</p1><br><br>
        <p2>2) В "Коллекции" представлены фотографии поступлений</p2><br><br>
        <p3>3) Во вкладке "Про создателя сайта" вы можете узнать информацию про создателя сайта</p3><br><br>
        <p4>4) Во вкладке "Контакты" представлена информация о салоне и его директоре</p4><br>
    </div>
{% endblock %}
