{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo.jpeg' %}" alt="Лого">
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная</li></a>
            <a href="{% url 'news_home' %}"><li><i class="far fa-newspaper"></i> Новости</li></a>
            <a href="{% url 'collection_page' %}"><li><i class="fas fa-book-open"></i></i> Коллекция</li></a>
            <a href="{% url 'contacts' %}"><li><i class="fas fa-id-card-alt"></i> Контакты</li></a>
            <a href="{% url 'about' %}"><li><i class="far fa-address-card"></i> Про создателя сайта</li></a>
        </ul>
    </aside>
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>
