body{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 1024px;
    background-color: "#000";
    background: url(transactions/img/blockchain_picture.jpg) no repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

transactions .features {
    float: center;
    color: #4682B4;
    margin-top: 60px;
    text-align: center;
    margin-left: 300px;
    position: sticky;
}

main .features h1 {font.size: 1.7rem; margin-left: 20%; margin-top: -40px;}